{% extends 'layout/base.html' %}
{% block content %}
    <div class="ms-panel">
        <div class="ms-panel-header ms-panel-custome">
            <h6>Список записей на очередь</h6>
            <a href="#record_create" class="ms-text-primary" data-toggle="modal">Добавить</a>
        </div>
        <div class="ms-panel-body">
            <div class="table-responsive">
                <table id="record_data_table" class="table table-striped thead-primary w-100">
                    <thead>
                    <tr role="row">
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >№ Очереди
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Зарегистрировал
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Пациент
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Доктор
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Создано
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Дата записи
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Комментарий
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Действия
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in records %}
                        <tr role="row">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ record.registrar.fullname }}</td>
                            <td>{{ record.patient }}</td>
                            <td>{{ record.doctor }}</td>
                            <td>{{ record.created }}</td>
                            <td>{{ record.date }}</td>
                            <td>{{ record.content }}</td>
                            <td>
                                <a href="{% url 'patient_detail' record.patient_id %}"><i
                                        class="text-success fa fa-user-alt"></i></a>
                                <a href="{% url 'record_update' record.pk %}"><i
                                        class="text-primary fa fa-pencil-alt"></i></a>
                                <a onclick="send_post('{% url 'record_action' %}', {'action': 'delete_record', 'record_id': '{{ record.pk }}'}, 'Вы действительно хотите удалить запись?')"><i
                                        class="text-danger fa fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#patient_data_table').DataTable()
            $('#select_patient, #select_doctor').select2()
        });

    </script>
{% endblock extra_js %}