{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="ms-content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="ms-panel">
                    <div class="ms-panel-header ms-panel-custome">
                        <h6>Изменить запись на очередь</h6>
                    </div>
                    <form class="ms-panel-body" method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for f in form %}
                                {% if f.name == 'date' %}
                                    <div class="col-md-4">
                                        {{ f.label_tag }}
                                        {{ f|add_class:'form-control'|attr:'type:datetime-local' }}
                                    </div>
                                    {% else %}
                                    <div class="col-md-4">
                                        {{ f.label_tag }}
                                        {{ f|add_class:'form-control' }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-sm float-right">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>

    </script>
{% endblock extra_js %}