{% extends 'layout/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'full_calendar_lib/main.css' %}">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{% static 'full_calendar_lib/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let d = new Date()

            let calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'ru',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'listMonth,timeGridWeek'
                },
                initialDate: d,
                initialView: 'listMonth',
                buttonText:
                    {
                        today: "Сегодня",
                        month: "Месяц",
                        week: "Неделя",
                        day: "День",
                        list: "Список по дням"
                    },
                navLinks: true, // can click day/week names to navigate views
                businessHours: true, // display business hours

                editable: false,
                selectable: true,
                events: [
                    {% for record in records %}
                        {
                            id: {{ record.id }},
                            title: '{{ record.patient.fullname }} - {{ record.date|date:"H:i" }}',
                            start: '{{ record.date|date:'Y-m-d H:i' }}',
                            end: '{{ record.date|date:'Y-m-d H:i' }}',
                        },
                    {% endfor %}
                ]
            });
            calendar.render();
        });
    </script>
{% endblock extra_js %}
{% block content %}
    <div class="ms-content-wrapper">
        <div class="row">
            <!-- Notifications Widgets -->

            {% if request.user.role == 'admin' or request.user.is_superuser %}
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <a href="{% url 'doctor_list' %}">
                        <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                            <div class="ms-card-body media">
                                <div class="media-body">
                                    <h6>Докторов</h6>
                                    <p class="ms-card-change"> {{ doctors.count }}</p>
                                </div>
                            </div>
                            <i class="fas fa-stethoscope ms-icon-mr"></i>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <a href="{% url 'patient_list' %}">
                        <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                            <div class="ms-card-body media">
                                <div class="media-body">
                                    <h6>Пациентов</h6>
                                    <p class="ms-card-change"> {{ patients.count }}</p>
                                </div>
                            </div>
                            <i class="fas fa-user-plus ms-icon-mr"></i>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <a href="{% url 'order_list' %}">
                        <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                            <div class="ms-card-body media">
                                <div class="media-body">
                                    <h6 class="bold">Заявок</h6>
                                    <p class="ms-card-change"> {{ orders.count }}</p>
                                </div>
                            </div>
                            <i class="fa fa-wheelchair ms-icon-mr"></i>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <a href="{% url 'record_list' %}">
                        <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                            <div class="ms-card-body media">
                                <div class="media-body">
                                    <h6 class="bold">Записей</h6>
                                    <p class="ms-card-change"> {{ records.count }}</p>
                                </div>
                            </div>
                            <i class="fas fa-calendar ms-icon-mr"></i>
                        </div>
                    </a>
                </div>
            {% endif %}

            <div class="col-xl-12 col-lg-6 col-md-12">
                <div class="ms-panel ms-panel-fh">
                    <div class="ms-panel-body calendar-wedgit">
                        <div class="w-100" id="calendar"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
