{% extends 'layout/base.html' %}
{% load static poll_extras %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'full_calendar_lib/main.css' %}">
    <style>
        .fc .fc-timegrid-slot {
            height: 2em;
        }

        /* Общие стили для контекстного меню */
        .custom-dropdown {
            position: absolute;
            z-index: 1000;
            display: block;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 8px;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
            padding: 8px 0;
            min-width: 220px;
            font-family: 'Arial', sans-serif;
        }

        .custom-dropdown a {
            display: flex;
            align-items: center;
            padding: 12px 16px;
            font-size: 14px;
            text-decoration: none;
            color: #333;
            transition: background-color 0.3s ease;
        }

        .custom-dropdown a:hover {
            background-color: #f1f1f1;
        }

        .custom-dropdown a.cancel {
            color: #dc3545; /* Красный цвет для отмены */
        }

        .custom-dropdown a.cancel:hover {
            background-color: #ffe5e5; /* Легкий красноватый фон для "Отменить запись" */
        }

        /* Иконки и текст выровнены по центру */
        .custom-dropdown a::before {
            margin-right: 8px;
            font-size: 16px;
        }

    </style>
{% endblock extra_css %}

{% block content %}
    <div class="ms-content-wrapper">
        <div class="row">
            <!-- Notifications Widgets -->

            {% if request.user.role == 'admin' or request.user.is_superuser %}
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <a href="{% url 'doctor_list' %}">
                        <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                            <div class="ms-card-body media">
                                <div class="media-body">
                                    <h6>Докторов</h6>
                                    <p class="ms-card-change"> {{ doctors.count }}</p>
                                </div>
                            </div>
                            <i class="fas fa-stethoscope ms-icon-mr"></i>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <a href="{% url 'patient_list' %}">
                        <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                            <div class="ms-card-body media">
                                <div class="media-body">
                                    <h6>Пациентов</h6>
                                    <p class="ms-card-change"> {{ patients.count }}</p>
                                </div>
                            </div>
                            <i class="fas fa-user-plus ms-icon-mr"></i>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <a href="{% url 'order_list' %}">
                        <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                            <div class="ms-card-body media">
                                <div class="media-body">
                                    <h6 class="bold">Заявок</h6>
                                    <p class="ms-card-change"> {{ orders.count }}</p>
                                </div>
                            </div>
                            <i class="fa fa-list ms-icon-mr"></i>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <a href="{% url 'appointment_list' %}">
                        <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                            <div class="ms-card-body media">
                                <div class="media-body">
                                    <h6 class="bold">Записей</h6>
                                    <p class="ms-card-change"> {{ appointments.count }}</p>
                                </div>
                            </div>
                            <i class="fas fa-calendar ms-icon-mr"></i>
                        </div>
                    </a>
                </div>
            {% endif %}

            <div class="col-xl-12 col-lg-6 col-md-12">
                <div class="ms-panel ms-panel-fh">
                    <div class="ms-panel-body calendar-wedgit">
                        <div class="w-100" id="calendar"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="context-menu" class="custom-dropdown bg-white" style="display:none; position: absolute">
        <a class="dropdown-item" href="#" onclick="payVisit()">💳 Принять оплату</a>
        <a class="dropdown-item" href="#" onclick="editVisit()">📝 Редактировать визит</a>
        <a class="dropdown-item" href="#" onclick="fillTreatment()">✏️ Заполнить лечение</a>
        <a class="dropdown-item" href="#" onclick="patientCard()">📋 Карточка пациента</a>
        <a class="dropdown-item" href="#" onclick="reschedule()">🔄 Перенести запись</a>
        <a class="dropdown-item" href="#" onclick="rebook()">🔁 Записать повторно</a>
        <a class="dropdown-item cancel" href="#" onclick="cancelVisit()">❌ Отменить запись</a>
    </div>


{% endblock content %}

{% block extra_js %}
    <script src="{% static 'full_calendar_lib/main.js' %}"></script>
    <script>
        let isMenuOpen = false;

        function formatDate(date) {
            let d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear(),
                hour = '' + d.getHours(),
                minute = '' + d.getMinutes(),
                seconds = '' + d.getSeconds();
            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;
            if (hour.length < 2) hour = '0' + hour;
            if (minute.length < 2) minute = '0' + minute;
            if (seconds.length < 2) seconds = '0' + seconds;
            let result_date = [year, month, day].join('-')
            let result_time = [hour, minute, seconds].join(':')
            return `${result_date} ${result_time}`;
        }


        document.addEventListener('DOMContentLoaded', function () {

            $('#id_select_doctor, #id_select_patient').select2({
                dropdownParent: $('#AppointmentCreateModal')
            })

            let calendarEl = document.getElementById('calendar');
            let d = new Date()

            let calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'ru',
                nowIndicator: true,
                customButtons: {
                    myCustomButton: {
                        text: 'Добавить запись на прием',
                        class: 'btn btn-primary rounded-pill',
                        click: function () {
                            $('#AppointmentCreateModal').modal('toggle')
                        }
                    }
                },
                headerToolbar: {
                    right: 'prev,next myCustomButton'
                },
                contentHeight: "auto",
                initialView: 'timeGridWeek',
                snapDuration: '00:30',
                {#slotDuration: '00:15',#}
                slotLabelInterval: '00:15:00',
                slotLabelFormat:
                    {
                        hour: 'numeric',
                        minute: '2-digit',
                        omitZeroMinute: false,
                    },
                defaultTimedEventDuration: "00:30:00",
                slotMinTime: '09:00:00', // Start time for the calendar
                slotMaxTime: '19:00:00',
                initialDate: d,
                navLinks: true, // can click day/week names to navigate views
                businessHours: true, // display business hours
                editable: true,
                selectable: true,
                eventClick: function (info) {
                    toggleContextMenu(info.jsEvent, info.event);
                },
                select: function (arg) {
                    let appointment_date = formatDate(arg.start)
                    const dateStr = appointment_date.split(' ')[0];
                    const timeStr = appointment_date.split(' ')[1];
                    let duration = Math.floor(Math.abs(arg.start - arg.end) / 60000)
                    $('#id_input_appointment_date').val(dateStr)
                    $('#id_input_appointment_time').val(timeStr)
                    $('#id_input_duration').val(duration)
                    $('#AppointmentCreateModal').modal('toggle')
                },
                eventDataTransform: function (event) {
                    console.log(event)
                },
                eventChange: function (arg) {
                    let appointment_id = arg.event._def.publicId
                    let appointment_date = formatDate(arg.event.start)
                    let duration = Math.floor(Math.abs(arg.event.start - arg.event.end) / 60000)
                    let confirmation = confirm('Вы действительно хотите переместить запись?')
                    if (confirmation === true) {
                        fetch_post('{% url 'appointment_action' %}',
                            {
                                'action': 'update_appointment_date',
                                'appointment_id': appointment_id,
                                'appointment_date': appointment_date,
                                'duration': duration,
                            })
                    } else {
                        arg.revert();
                    }
                },
                events: [
                    {% for appointment in appointments %}
                        {
                            id: '{{ appointment.pk }}',
                            title: '{{ appointment.patient.fullname }}',
                            start: '{{ appointment.appointment_date|date:'Y-m-d H:i' }}',
                            end: '{{ appointment.appointment_date|calculate_appointment_date:appointment.duration|date:'Y-m-d H:i' }}'
                        },
                    {% endfor %}
                ]
            });
            calendar.render();
            let btn_appointment_create = $('.fc-myCustomButton-button')
            btn_appointment_create.addClass('rounded-pill px-4')
            btn_appointment_create.css('text-transform', 'none')
        });

        function toggleContextMenu(event, calendarEvent) {
            event.preventDefault();  // Останавливаем обычное поведение клика
            let contextMenu = document.getElementById('context-menu');

            // Если меню уже открыто, и мы кликаем снова, закрываем его
            if (isMenuOpen) {
                contextMenu.style.display = 'none';
                isMenuOpen = false;
                return;
            }

            contextMenu.style.left = event.pageX + 'px';
            contextMenu.style.top = event.pageY + 'px';
            contextMenu.style.display = 'block';
            isMenuOpen = true;
        }

        {#document.addEventListener('click', function (event) {#}
        {#    let contextMenu = document.getElementById('context-menu');#}
        {##}
        {#    // Проверяем, кликнули ли вне контекстного меню#}
        {#    if (!contextMenu.contains(event.target)) {#}
        {#        contextMenu.style.display = 'none';#}
        {#        isMenuOpen = false;#}
        {#    }#}
        {# });#}
    </script>
{% endblock extra_js %}
