{% extends 'layout/base.html' %}
{% block content %}
    <div class="ms-panel">
        <div class="ms-panel-header ms-panel-custome container-fluid">
            {#            <div class="row">#}
            <div class="col-md-3">
                <h6>Список открытых заявок</h6>
            </div>
            <div class="col-md-5">
                <form class="row" method="get">
                    <div class="col-md-8">
                        <input type="date" name="filter_date" class="form-control" value="{{ filter_date }}">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Фильтр</button>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url redirect_url %}" class="btn btn-danger ml-3">Сброс</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <a href="#order_create" class="ms-text-primary float-right" data-toggle="modal">Добавить</a>
            </div>
            {#            </div>#}
        </div>
        <div class="ms-panel-body">
            <div class="table-responsive">
                <table id="patient_data_table" class="table table-striped thead-primary w-100">
                    <thead>
                    <tr role="row">
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >№ Заявки
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Открыл
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Пациент
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Доктор
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Дата открытия
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Статус
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Действия
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr role="row">
                            <td>{{ order.pk }}</td>
                            <td>{{ order.registrar.fullname }}</td>
                            <td>{{ order.patient }}</td>
                            <td>{{ order.doctor }}</td>
                            <td>{{ order.created }}</td>
                            <td>{{ order.get_status_display }}</td>
                            <td>
                                <a href="{% url 'order_detail' order.pk %}"><i
                                        class="text-success fa fa-eye"></i></a>
                                <a href="{% url 'order_update' order.pk %}?back_url=order_list"><i
                                        class="text-primary fa fa-pencil-alt"></i></a>
                                <a onclick="return confirm('Вы дейсвительно хотите удалить?')"
                                   href="{% url 'order_action' %}"><i
                                        class="text-danger fa fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#patient_data_table').DataTable()
            $('#select_patient, #select_doctor').select2()
        });

    </script>
{% endblock extra_js %}