{#{% extends 'layout/base.html' %}#}
{% load static humanize poll_extras %}
{% block content %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row align-content-center">
                <div class="col-md-12 text-center">
                    <h3 class="text-center">Санация № {{ order.pk }}</h3>
                </div>
                <div class="col-md-12">
                    <div class="row text-center">
                        <div class="col-md-1 text-right">
                            <b>Диагноз</b>
                        </div>
                        <div class="col-md-10" style="border-bottom: 1px solid #000000; width: 100%">
                            {{ order.diagnosis }}
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-1 text-right">
                            <b>Жалобы</b>
                        </div>
                        <div class="col-md-10" style="border-bottom: 1px solid #000000; width: 100%">
                            {{ order.content }}
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row text-center mb-4">
                        <div class="col-md-1 text-right">
                            <b>Осмотр</b>
                        </div>
                        <div class="col-md-10" style="border-bottom: 1px solid #000000; width: 100%">
                            {{ order.inspection }}
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row text-center mb-4">
                        <table class="table table-bordered table-stripped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>№ зуба</th>
                                    <th>Категория услуги</th>
                                    <th>Услуга</th>
                                    <th>Сумма за ед.</th>
                                    <th>Кол-во</th>
                                    <th>Итого</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order_items %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ item.tooth }}
                                        </td>
                                        <td>
                                            {{ item.service.category.name }}
                                        </td>
                                        <td>
                                            {{ item.service.name }}
                                        </td>
                                        <td>
                                            {{ item.price|intcomma|remove_zero }}
                                        </td>
                                        <td>
                                            {{ item.count }}
                                        </td>
                                        <td>
                                            {{ item.amount|intcomma|remove_zero }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6">Общая сумма:</td>
                                    <td><b>{{ total_amount|intcomma|remove_zero }}</b></td>
                                </tr>
                                </tfoot>
                        </table>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-6 text-left"><b>Пациент</b>: {{ order.patient.fullname }}</div>
                        <div class="col-md-6 text-right"><b>Подпись</b>: _________________</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left"><b>Доктор</b>: {{ order.doctor.fullname }}</div>
                        <div class="col-md-6 text-right"><b>Подпись</b>: _________________</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock content %}