{% extends 'layout/base.html' %}
{% load static humanize poll_extras %}
{% block content %}
    <!-- Invoice Table -->
    <div class="ms-panel">
    <div class="ms-panel-header ms-panel-custome">
        <h6>Отчёт на зуб №{{ tooth }} || Пациент: {{ patient.fullname }}</h6>
    </div>
    <div class="ms-panel-body">
        <div class="ms-invoice-table table-responsive mt-5">
            <div class="table-responsive">
                <table id="order_report_table" class="table table-striped thead-primary w-100">
                    <thead>
                    <tr role="row">
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >#
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >№ зуба
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Категория услуги
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Услуга
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Сумма за ед.
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Кол-во
                        </th>
                        <th tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1"
                            aria-label="Office: activate to sort column ascending"
                        >Итого
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order_items %}
                        <tr role="row">
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ item.tooth }}
                            </td>
                            <td>
                                {{ item.service.category.name }}
                            </td>
                            <td>
                                {{ item.service.name }}
                            </td>
                            <td>
                                {{ item.price|intcomma|remove_zero }}
                            </td>
                            <td>
                                {{ item.count }}
                            </td>
                            <td>
                                {{ item.amount|intcomma|remove_zero }}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr role="row">
                            <td colspan="6">Общая сумма:</td>
                            <td><b>{{ total_amount|intcomma|remove_zero }}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#order_report_table').DataTable()
        });

    </script>
{% endblock extra_js %}