{% extends 'layout/base.html' %}
{% load humanize poll_extras %}

{% block extra_css %}
    <style>
        .card {
            margin: 0 auto;
            width: 320px;
            border-radius: 2px;
            background-color: #ffffff;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 10px 10px -4px rgba(0, 0, 0, 0.09);
            margin-bottom: 25px;
            float: left;
            margin-left: 25px;

        }

        .card-content {
            padding: 15px 20px 10px;;
            color: #4a4a4a;
        }

        .balance {
            display: flex;
            justify-content: space-between;
        }

        .balance-right {
            text-align: right;
        }

        .currency {
            font-size: 45px;
            font-weight: 200;
            line-height: 50px;
        }

        .balance-title {
            font-size: 14px;
        }

        .balance-amount {
            font-size: 25px;
        }

        .separator {
            margin-top: 20px;
            margin-bottom: 6px;
            border-bottom: solid 1px rgba(151, 151, 151, 0.2);
        }

        .actions {
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            font-size: 13px;
            font-weight: 600;
            color: rgba(74, 74, 74, 0.4);
            transition: 3.3s;

        }

        .actions a {
            transition: color 0.2s ease;
        }

        .actions a:hover {
            color: rgba(74, 74, 74, 0.5);
        }

        /**** green ****/
        .green {
            background-color: #0e9e5a;
        }

        .red {
            background-color: #ce593f;
        }


        .green .card-content,
        .red .card-content {
            color: #fff;
        }

        .green .actions,
        .red .actions {
            color: rgba(256, 256, 256, .8);
        }

        .green .actions a:hover,
        .red .actions a:hover {
            color: rgba(256, 256, 256, 1);
        }

        .green .separator,
        .red .separator {
            border-bottom: solid 1px rgba(256, 256, 256, .4);
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <div class="ms-content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="ms-panel">
                    <div class="ms-panel-header ms-panel-custome">
                        <h6>Список касс</h6>
                        <a href="#cash_create" class="ms-text-primary" data-toggle="modal">Добавить</a>
                    </div>
                    <div class="ms-panel-body">
                        <div class="row">
                            {% for cash in cashes %}
                                <div class="col-md-3 cursor_pointer">
                                    <div class="card {% if cash.status == 'active' %}green{% else %}red{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Статус: {{ cash.get_status_display }}">

                                        <div class="card-content">
                                            <div class="balance">
                                                <div class="balance-left">
                                                    <div class="currency">UZS</div>
                                                </div>
                                                <div class="balance-right">
                                                    <div class="balance-title">{{ cash.name }}</div>
                                                    <div class="balance-amount">{{ cash.amount|intcomma }}</div>
                                                </div>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="actions">
                                                <div class="history">
                                                    <a>История <i class="fa fa-fw fa-history"
                                                                  aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="recharge">
                                                    <a>{{ cash.get_method_display }} <i class="fa fa-money-bill"
                                                                                        aria-hidden="true"></i></a>
                                                </div>
                                                <a class="cursor_pointer float-right ml-5"
                                                   onclick="send_post('{% url 'cash_action' %}', {'action': 'delete_cash', 'cash_id': '{{ cash.pk }}'}, 'Вы действительно хотите удалить кассу?')">
                                                    <i class="text-white fa fa-trash-alt"></i>
                                                </a>
                                                <a class="cursor_pointer float-right"
                                                   onclick="cash_update('{{ cash.id }}', '{{ cash.name }}', '{{ cash.amount|remove_zero }}', '{{ cash.method }}', '{{ cash.status }}')">
                                                    <i class="text-white fa fa-pencil-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="cash_create" role="dialog" aria-hidden="true">
        <div class="modal-dialog ms-modal-dialog-width">
            <div class="modal-content ms-modal-content-width">
                <div class="modal-header  ms-modal-header-radius-0">
                    <h4 class="modal-title text-white">Создать кассу</h4>
                    <button type="button" class="close  text-white" data-dismiss="modal" aria-hidden="true">x</button>

                </div>
                <div class="modal-body p-0 text-left">
                    <div class="col-xl-12 col-md-12">
                        <div class="ms-panel ms-panel-bshadow-none">
                            <div class="ms-panel-header">
                                <h6>Детали кассы</h6>
                            </div>
                            <div class="ms-panel-body">
                                <form class="needs-validation" novalidate="" action="{% url 'cash_action' %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="create_cash">
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom09">Название</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom09">Сумма</label>
                                            <div class="input-group">
                                                <input type="number" step="any" class="form-control" name="amount">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom09">Метод оплаты</label>
                                            <div class="input-group">
                                                <select class="form-control" style="width: 100%" name="method">
                                                    <option value="cash">Наличные</option>
                                                    <option value="card">Перевод</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom10">Статус</label>
                                            <div class="input-group">
                                                <select class="form-control" style="width: 100%" name="status">
                                                    <option value="active">Активный</option>
                                                    <option value="disabled">Не активный</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-warning float-right my-4" type="submit">Сохранить</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cash_update" role="dialog" aria-hidden="true">
        <div class="modal-dialog ms-modal-dialog-width">
            <div class="modal-content ms-modal-content-width">
                <div class="modal-header  ms-modal-header-radius-0">
                    <h4 class="modal-title text-white">Изменить категорию услуг</h4>
                    <button type="button" class="close  text-white" data-dismiss="modal" aria-hidden="true">x</button>

                </div>
                <div class="modal-body p-0 text-left">
                    <div class="col-xl-12 col-md-12">
                        <div class="ms-panel ms-panel-bshadow-none">
                            <div class="ms-panel-header">
                                <h6>Детали категории</h6>
                            </div>
                            <div class="ms-panel-body">
                                <form class="needs-validation" novalidate="" action="{% url 'cash_action' %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="update_cash">
                                    <input type="hidden" name="cash_id" value="" id="cash_id">
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom09">Название</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="name" id="cash_name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom09">Сумма</label>
                                            <div class="input-group">
                                                <input type="number" step="any" class="form-control" name="amount"
                                                       id="cash_amount">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom09">Метод оплаты</label>
                                            <div class="input-group">
                                                <select class="form-control" style="width: 100%" name="method"
                                                        id="cash_method">
                                                    <option value="cash">Наличные</option>
                                                    <option value="card">Перевод</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom10">Статус</label>
                                            <div class="input-group">
                                                <select class="form-control" style="width: 100%" name="status"
                                                        id="cash_status">
                                                    <option value="active">Активный</option>
                                                    <option value="disabled">Не активный</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-warning float-right my-4" type="submit">Сохранить</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#service_data_table').DataTable()
        });

        function cash_update(cash_id, name, amount, method, status) {
            $('#cash_update').modal('toggle')
            $('#cash_id').val(cash_id)
            $('#cash_name').val(name)
            $('#cash_amount').val(amount)
            $('#cash_method').val(method)
            $('#cash_status').val(status)
        }

    </script>
{% endblock extra_js %}